html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;

    background: var(--white);

    color: var(--black);
    font-family: var(--font-sans);
    font-size: 1.65rem;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

audio,
embed,
iframe,
img,
object,
svg,
video {
    display: block;

    max-width: 100%;
    height: auto;

    border-style: none;
}

svg {
    transition: fill 0.3s ease-in-out;

    fill: currentColor;
}

figure {
    margin: 1.6rem 0;
}
