table {
    width: 100%;
    margin: 0 0 2.4rem;
    border-collapse: collapse;
}

thead th {
    padding-bottom: 0.8rem;

    border-bottom: 2px solid var(--gray-200);
}

th,
td {
    padding: 1.2rem 1.5rem;

    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--gray-100);
}

tr:hover {
    background-color: var(--gray-200);
}
